.wrapper {
 display: grid;
 grid-template-columns: repeat(10, 2fr);
 gap: 20px;
 margin: 0 auto;
 max-width: 1500px;
 padding: 2rem;
}

a {
 text-decoration: none;
 color: inherit;
}

.activeLink {
 opacity: 0.5;
}
